  <section class="section" >
      <div class="conteiner">
        <h2 class="section__title">Постоянные клиенты</h2>
        <ul class="clients pointkiller">
            {{#each clients}}
                {{> client-card}}
            {{/each}}
        </ul>
      </div>
    </section>