<footer class="footer">
    <div class="conteiner footer__conteiner">
      
      <div class="footer__adds-box">   
        <a class="logo footer__logo" href="/">Web<span class="logo__text--white">Studio</span></a>
        <address class="address">
          <p class="address__text">г. Киев, пр-т Леси Украинки, 26</p>
            <ul class="address__list pointkiller">
              <li class="address__item">
                <a href="mailto:info@example.com" class="address__link">info@example.com</a>
              </li>
              <li class="address__item">
                <a href="tel:+380991111111" class="address__link">+38 099 111 11 11</a>
              </li>
            </ul>
        </address>
      </div>
      <div class="footer__join-box">
        <h2 class="footer__title">Присоединяйтесь</h2>
          <ul class="social pointkiller">
            <li class="social__item">
              <a href="" class="social__link social__link--gray">
                <svg width="20" height="20">
                  <use href=./images/icons.svg#icon-instagram></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link social__link--gray">
                <svg width="20" height="20">
                  <use href=./images/icons.svg#icon-twitter></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link social__link--gray">
                <svg width="20" height="20">
                  <use href=./images/icons.svg#icon-facebook></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link social__link--gray">
                <svg width="20" height="20">
                  <use href=./images/icons.svg#icon-linkedin></use>
                </svg>
              </a>
            </li>
          </ul>
      </div>
      <div class="footer__sign-box">
        <h2 class="footer__title">Подпишитесь на рассылку</h2>
        <form class="mailing-form" name="mailing-form">
          <label class="mailing-form__title">
            <input  class="mailing-form__input" type="email" name="email" placeholder="E-mail">
          </label>
          <button class="button" type="submit">
            Подписаться
            <svg width="24" height="24" class="button__plane-icon">
              <use href=./images/icons.svg#icon-send></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
</footer>