<section class="hero">
    <div class="conteiner">
    <h1 class="hero__title">Эффективные решения <br> для вашего бизнеса</h1>
       <button class="button" type="button" data-modal-open>Заказать услугу</button>
    </div>
</section>