<ul class="networks pointkiller">
    <li class="networks__item">
    <a href="" class="networks__link">
        Instagram
    </a>
    </li>
    <li class="networks__item">
    <a href="" class="networks__link">
        Twitter
    </a>
    </li>
    <li class="networks__item">
    <a href="" class="networks__link">
        Facebook
    </a>
    </li>
    <li class="networks__item">
    <a href="" class="networks__link">
        LinkedIn
    </a>
    </li>
</ul>