    <section class="section section--secondary">
      <div class="conteiner">
        <h2 class="section__title">Наша команда</h2>
        <ul class="team pointkiller">
            {{#each team}}
                {{> team-card}}
            {{/each}}
      </div>
    </section>