        <div class="works">
          <h2 class="section__title">Чем мы занимаемся</h2>
          <ul class="works__list pointkiller">
            <li class="works__item">
              <picture>
                <source 
                  srcset="
                    ./images/desktop/box1_desktop_1x.webp 1x,
                    ./images/desktop/box1_desktop_2x.webp 2x
                  "
                  type="image/webp"
                  />
                <img class="works__img" 
                  srcset="
                    ./images/desktop/box1_desktop_1x.jpg 1x,
                    ./images/desktop/box1_desktop_2x.jpg 2x
                  "                  
                  src="./images/desktop/box1_desktop_1x.jpg"
                  alt="Изображение ноутбука с макетами"
                  width="370" height="294">
              </picture>
              <p class="works__description">Десктопные приложения</p>
            </li>
            <li class="works__item">
              <picture>
                <source 
                  srcset="
                    ./images/desktop/box2_desktop_1x.webp 1x,
                    ./images/desktop/box2_desktop_2x.webp 2x
                  " 
                  type="image/webp" />
                <img class="works__img"
                  srcset="
                    ./images/desktop/box2_desktop_1x.jpg 1x,
                    ./images/desktop/box2_desktop_2x.jpg 2x
                  " 
                  src="./images/desktop/box2_desktop_1x.jpg" 
                  alt="Изображение ноутбука с макетами"
                  width="370" height="294">
              </picture>
              <p class="works__description">Мобильные приложения</p>
            </li>
            <li class="works__item">
              <picture>
                <source
                  srcset="
                    ./images/desktop/box3_desktop_1x.webp 1x,
                    ./images/desktop/box3_desktop_2x.webp 2x
                  " type="image/webp" />
                <img class="works__img"
                  srcset="
                    ./images/desktop/box3_desktop_1x.jpg 1x,
                    ./images/desktop/box3_desktop_2x.jpg 2x
                  " src="./images/desktop/box3_desktop_1x.jpg"
                  alt="Изображение планшета с цветовой диаграммой"
                  width="370" height="294">
              </picture>
              <p class="works__description">Дизайнерские решения</p>
            </li>
          </ul>
        </div>