{{> header}}
<section class="section">
      <!-- <h2>Наши преимущества</h2> -->
      <div class="conteiner">

        {{> feature}}
        {{> works}}
        {{> team}}
        {{> clients}}
          
      </div>
</section>
{{> footer}}  