.navigation__list, .mobile-wrap.is-open .navigation, .contacts, .mobile-wrap.is-open .contacts, .feature__list, .works__list, .team, .social, .clients, .filter-list, .examples, .address__list, .mobile-wrap.is-open .networks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  min-width: 200px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button__plane-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.button-filter {
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0;
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.button-filter:hover, .button-filter:focus {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0%;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  background-color: inherit;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  cursor: pointer;
  fill: #2196f3;
}

.button-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin-left: 0;
  z-index: 100;
  height: 40px;
  width: 40px;
  border: 0;
  fill: #000000;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-mobile:hover, .button-mobile:focus {
  cursor: pointer;
  fill: #2196f3;
}

.button-mobile__icon-close {
  display: none;
}

.button-mobile.is-open .button-mobile__icon-close {
  display: block;
}

.button-mobile.is-open .button-mobile__icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-mobile {
    display: none;
  }
}

body {
  min-width: 320px;
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.conteiner {
  width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--secondary {
  background-color: #f5f4fa;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: inherit;
  color: #2196f3;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .logo {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 1600px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: inherit;
  }
}

.logo__text--black {
  color: #000000;
}

.logo__text--white {
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.navigation__link--active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation__link--active::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 4px;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    width: 100%;
    content: "";
    border: 1px solid #2196f3;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.mobile-wrap.is-open .navigation {
  display: block;
}

.mobile-wrap.is-open .navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-wrap.is-open .navigation__link {
  display: inline;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.contacts {
  display: inline-block;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .contacts {
    padding-top: 19px;
    padding-bottom: 19px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  fill: currentColor;
  text-decoration: none;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.mobile-wrap.is-open .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-wrap.is-open .contacts__item {
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
}

.mobile-wrap.is-open .contacts__item:not(:first-child) {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.177;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.mobile-wrap.is-open .contacts__icon {
  display: none;
}

.hero {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/herobg_mobile_1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/herobg_mobile_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/herobg_mobile_2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/herobg_mobile_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/herobg_tablet_1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/herobg_tablet_1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/herobg_tablet_2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/herobg_tablet_2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/herobg_desktop_1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/herobg_desktop_1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/herobg_desktop_2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/herobg_desktop_2x.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    margin-bottom: 94px;
  }
}

.feature__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .feature__item {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .feature__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__description {
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 30px * 2) / 3);
      flex-basis: calc((100% - 30px * 2) / 3);
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__card {
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .team__card:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .team__card:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 30px * 3) / 4);
        flex-basis: calc((100% - 30px * 3) / 4);
  }
  .team__card:not(:last-child) {
    margin-right: 30px;
  }
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__box {
  padding: 30px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__description {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition-property: fill, background-color, -webkit-box-shadow;
  transition-property: fill, background-color, -webkit-box-shadow;
  transition-property: fill, background-color, box-shadow;
  transition-property: fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.social__link--gray {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.social__link:hover, .social__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px * 2) / 3);
        flex-basis: calc((100% - 30px * 2) / 3);
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px * 5) / 6);
        flex-basis: calc((100% - 30px * 5) / 6);
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.clients__link:hover, .clients__link:focus {
  cursor: pointer;
  fill: #2196f3;
  border-color: #2196f3;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-list {
    margin-bottom: 30px;
  }
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.examples__item {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

@media screen and (min-width: 768px) {
  .examples__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    -ms-flex-preferred-size: calc((100% - 30px * 2) / 3);
        flex-basis: calc((100% - 30px * 2) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .examples__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.examples__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.examples__link:hover, .examples__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples__bgbox {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: hidden;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.examples__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: auto;
}

.examples__link:hover .examples__overlay,
.examples__link:focus .examples__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples__img {
  display: block;
  width: 100%;
}

.examples__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #f5f4fa;
  border-left: 1px solid #f5f4fa;
  border-right: 1px solid #f5f4fa;
}

.examples__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples__description {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 767px) {
  .footer__conteiner {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__conteiner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer__adds-box {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__adds-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adds-box {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer__join-box {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__sign-box {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__sign-box {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__sign-box {
    margin-left: auto;
    margin-bottom: 0px;
  }
}

.footer__title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.41;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
    text-align: center;
  }
}

.address__text {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .address__text {
    margin-bottom: 9px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .mailing-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mailing-form__title {
  display: block;
}

@media screen and (max-width: 1199px) {
  .mailing-form__title {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-form__title {
    display: inline-block;
    margin-right: 12px;
  }
}

.mailing-form__input {
  padding: 15px 16px;
  height: 50px;
  width: 358px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 480px) {
  .mailing-form__input {
    width: 100%;
  }
}

.mailing-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.mailing-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.mailing-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.mailing-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 94px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  display: block;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 609px;
    width: 450px;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(360deg);
            transform: translate(-50%, -50%) scale(1) rotate(360deg);
    -webkit-transition: -webkit-transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.01);
          transform: translate(-50%, -50%) scale(0.01);
}

.request-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.request-form__title {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .request-form__title {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.request-form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.request-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.request-form__input {
  display: block;
  height: 40px;
  width: 100%;
  padding: 11px 12px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__field:focus-within .request-form__input {
  border-color: #2196f3;
  outline: none;
}

.request-form__field:focus-within .request-form__textarea {
  border-color: #2196f3;
  outline: none;
}

.request-form__field:focus-within .request-form__icon {
  fill: #2196f3;
}

.request-form__icon {
  position: absolute;
  top: 38px;
  left: 12px;
  fill: #212121;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__textarea {
  display: block;
  resize: none;
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.request-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.request-form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.request-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.request-form__agreement {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.request-form__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .request-form__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.request-form__link:focus-within {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.request-form__link {
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media screen and (min-width: 1200px) {
  .request-form__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.request-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.request-form__checkbox:checked ~ .request-form__check-icon {
  fill: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.request-form__check-icon {
  display: inline-block;
  margin-right: 8px;
  fill: transparent;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 400ms;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 400ms;
}

.request-form__check-icon:hover, .request-form__check-icon:focus {
  cursor: pointer;
}

.request-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .mobile-wrap {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.mobile-wrap.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks {
  display: none;
}

.networks.is-open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.networks {
  display: none;
}

.mobile-wrap.is-open .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mobile-wrap.is-open .networks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mobile-wrap.is-open .networks__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=main.css.map */